# History files
.Rhistory
.Rapp.history

# Log files
*.log

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Build files
src-i386/
src-x64/

# Output files from R CMD check
/*.Rcheck/

# RStudio files
^.*\.Rproj$
^\.Rproj\.user$
.Rproj.user
.Rproj.user/
.Rproj/
*.Rproj
GenomicSEM.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/
tmp-data

# MacOS
.DS_Store
**/.DS_Store